
  <div id="panel-red" class="category-panel red">
    <div class="panel-content">
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="panel-orange" class="category-panel orange">
    <div class="panel-content">
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="panel-yellow" class="category-panel yellow">
    <div class="panel-content">
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="panel-green" class="category-panel green">
    <div class="panel-content">
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="panel-blue" class="category-panel blue">
    <div class="panel-content">
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="panel-purple" class="category-panel purple">
    <div class="panel-content">
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#" class="dark-link"></a></li>
          <li><a href="#" class="dark-link"></a></li>
        </ul>
      </div>
    </div>
  </div>